<div class="cart-div">
    <h2>Количка</h2>
    <hr>
<table class="cart">
    <tr class="head">
        <th>Продукт</th>
        <th>Количество</th>
        <th>Цена</th>
    </tr>
    <tr class="body">
        <td>
            <div class="cart-product">
                <img src="https://i.ytimg.com/vi/oXrlgOEiy6o/maxresdefault.jpg" class="product-img">
                <p class="title">Product name Test</p>
                <p class="price">Цена: 250lv</p>
                <a href="/User/RemoveFromCart?productId=">Премахни</a>
            </div>
        </td>
         
        <td>
            <div class="quantity">
            <input type="number"></input>
                </div>
        </td>
        <td>
                <p class="price">500лв.</p>
            
        </td>
    </tr>

        <tr class="body">
            <td>
                <div class="cart-product">
                    <img src="https://i.ytimg.com/vi/oXrlgOEiy6o/maxresdefault.jpg" class="product-img">
                    <p class="title">Product name Test</p>
                    <p class="price">Цена: 250lv</p>
                    <a href="/User/RemoveFromCart?productId=">Премахни</a>
                </div>
            </td>

            <td>
                <div class="quantity">
                    <input type="number"></input>
                </div>
            </td>
            <td>
                <p class="price">500лв.</p>

            </td>
        </tr>
        <tr class="body">
            <td>
                <div class="cart-product">
                    <img src="https://i.ytimg.com/vi/oXrlgOEiy6o/maxresdefault.jpg" class="product-img">
                    <p class="title">Product name Test</p>
                    <p class="price">Цена: 250lv</p>
                    <a href="/User/RemoveFromCart?productId=">Премахни</a>
                </div>
            </td>

            <td>
                <div class="quantity">
                    <input type="number"></input>
                </div>
            </td>
            <td>
                <p class="price">500лв.</p>

            </td>
        </tr>

        <tr class="body">
            <td>
                <div class="cart-product">
                    <img src="https://i.ytimg.com/vi/oXrlgOEiy6o/maxresdefault.jpg" class="product-img">
                    <p class="title">Product name Test</p>
                    <p class="price">Цена: 250lv</p>
                    <a href="/User/RemoveFromCart?productId=">Премахни</a>
                </div>
            </td>

            <td>
                <div class="quantity">
                    <input type="number"></input>
                </div>
            </td>
            <td>
                <p class="price">500лв.</p>

            </td>
        </tr>
     
   
</table>

 
</div>