@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASM Auto</title>
    <link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main-page.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/product-details.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/cart.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/orders.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/liked-products.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login-partial.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav>
            <section class="user-nav">
            <ul class="nav">
               <partial name="_LoginPartial.cshtml"></partial>
            </ul>
            </section>
            <section class="logo">
                <h1>ASM<span>Auto</span></h1>
                <h2>Всичко за вашия автомобил!</h2>
            </section>

            <section class="category-nav">
                <ul class="nav">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="Index">НАЧАЛО</a>
                    </li>

                    <div class="dropdown">
                        <button class="dropbtn">
                            АВТОАКСЕСОАРИ
             
                        </button>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="AutoAccessories" asp-action="Ledlights">ЛЕД ОСВЕТЛЕНИЕ</a>
                            <a asp-area="" asp-controller="AutoAccessories" asp-action="Mats">СТЕЛКИ</a>
                            <a asp-area="" asp-controller="AutoAccessories" asp-action="Foils">ФОЛИО</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            АВТОКОЗМЕТИКА
             
                        </button>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="AutoCosmetics" asp-action="Autoshampoo">АВТОШАМПОАНИ</a>
                            <a asp-area="" asp-controller="AutoCosmetics" asp-action="CleaningProducts">ПОЧИСТВАЩИ ПРЕПАРАТИ</a>
                        </div>
                    </div>
                    <div class="dropdown">
                        <button class="dropbtn">
                            НАВИГАЦИИ

                        </button>
                        <div class="dropdown-content">
                            <a asp-area="" asp-controller="Multimedia" asp-action="Multimedia">МУЛТИМЕДИИ</a>
                            <a asp-area="" asp-controller="Multimedia" asp-action="BackupCameras">КАМЕРИ ЗА ЗАДНО ВИЖДАНЕ</a>
                        </div>
                    </div>

                        
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Contact">КОНТАКТИ</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="AboutUs">ЗА НАС</a>
                        </li>
                     

                </ul>
                
            </section>
        </nav>
       
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
    <div class="footer">
        <section class="Links">
            <h3>ASM<span>Auto</span></h3>
            <p>ASMAuto е онлайн магазин за <br> качествени автомобилни продукти!</p>
        </section>
        <section class="User">
            <h3>Потребител</h3>
            @if (SignInManager.IsSignedIn(User)) { 
              <a asp-area="" asp-controller="User" asp-action="MyAccount">Моят профил</a>
              <a asp-area="" asp-controller="User" asp-action="LikedProducts">Харесани продукти</a>
              <a asp-area="" asp-controller="User" asp-action="Cart">Количка</a>
            }
            else
            {
              <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
              <a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
            }
        </section>
        <section class="Redirects">
            <h3>Страници</h3>
             <a asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
             <a asp-area="" asp-controller="Home" asp-action="Contact">Контакти</a>
            <a asp-area="" asp-controller="Home" asp-action="AboutUs">За нас</a>
        </section>
        </div>

        <div class="secfooter">
            <p>&copy; @DateTime.UtcNow.Year - ASMAuto. Всички правя запазени!</p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
