@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div class="login-partial">
@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown">
        <button class="dropbtn">
            Моят акаунт
         </button>
        <div class="dropdown-content">
                <div class="user">
                    <p class="user-name">@User.Identity.Name</p>
                </div>
            <a asp-area="" asp-controller="User" asp-action="Orders">Мойте поръчки</a>
            <a asp-area="" asp-controller="Account" asp-action="ChangePassword">Смени парола</a>
        </div>
    </div>
    <li>
        <a asp-area="" asp-controller="User" asp-action="LikedProducts">Харесани продукти</a>
    </li>
    <li>
        <a asp-area="" asp-controller="User" asp-action="Cart">Количка</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Logout">Излез</a>
    </li>

}
else
{
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
    </li>
}
</div>
<script src="/js/user-initials.js"></script>