@model LedlightsModel
<div class="card">
                  <a href="https://www.w3docs.com/">
  <img src="@Model.ImageUrl" alt="Denim Jeans" style="width:100%">
  <h1>@Model.Title</h1>
  <p class="price">@Model.Price лв.</p>
  <p>@Model.Description</p>
  </a>
  <p><button>Добави в количката</button></p>
</div>
