@{
    ViewData["Title"] = "Контакти";
}

<div class="info">
    <p class="pInfo">Ние сме онлайн мазаин за автоаксеори и автокозметика. При нас може да намерите вълнуващи предложения за вашия автомобил</p>
</div>