@using ASM_Auto.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <img src="../img/home.png"></img>
</div>
<div class="index-products">
    <h2>Най-нови продукти</h2>
    @foreach (var product in Model.Products)
    {
        <partial name="_PartialProduct" model="@product" />
    }
</div>
